$font-family: LatoLatin, LatoLatin-fallback, sans-serif;

$black: #000;
$lightning: #ffbf14;
$ribbon: #f30050;
$regal: #004371;
$link: #0b6098;
$link-light: #2D8ECF;
$green: #00B227;
$grey-90: #17181a;
$grey-70: #575a5d;
$grey-50: #86898d;
$grey-30: #18a4c7;
$grey-20: #dbdcdd;
$grey-15: #e4e5e5;
$grey-05: #f0f0f0;
$grey-03: #f8f8f8;
$white: #ffffff;
$reserved: rgba(79, 150, 137, 0.21);
$sold: rgba(180, 160, 160, 0);

$grid-breakpoint-xs: 0;
$grid-breakpoint-xss: 319px;
$grid-breakpoint-mb: 376px;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
